<form method="POST" class="mt-4" action="/courses/handle-form-actions">
    <div>
        <h3>Khóa học của tôi</h3>
    </div>
    <div class="deleted_soft text-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
        </svg>

        <a href="/me/trash/courses">Thùng rác ({{deletedCount}})</a>
    </div>
    <div class="mt-4 flex_check">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="checkbox__all">
            <label class="form-check-label" for="checkbox__all">
                Chọn tất cả
            </label>
        </div>

        <select class="form-select form-control-sm text-center" name="action" required>
            <option value="">-- Hành động --</option>
            <option value="delete">Xóa</option>
        </select>

        <button class="btn btn-primary btn-sm btn-checkallsubmit disabled">
            Thực hiện
        </button>
    </div> 
    <table class="table table-striped mt-4  ">
        <thead>
            <tr>
                <th></th>
                <th scope="col">#</th>
                <th scope="col">Tên khóa học</th>
                <th scope="col">Hình ảnh</th>
                <th scope="col">Thời gian tạo</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each course}}
            <tr>
                <td>
                    <div class="form-check">
                        <input name="courseIds[]" class="form-check-input chk_courses" type="checkbox"
                            value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td><img src="{{this.thumbnail}}" alt="{{this.name}}" width="100" /></td>
                <td>{{this.createdAt}}</td>
                <td><a href="/courses/{{this._id}}/edit" class="btn btn-primary">Sửa</a></td>
                <td><a data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#exampleModal" href=""
                        class="btn btn-danger">Xóa</a></td>
            </tr>
            {{else}}
            <tr>
                <td colspan="6" class="text-center">
                    Bạn chưa đăng khóa học nào.
                    <a href="/courses/create">Đăng khóa học</a>

                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Confirm delete course --}}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xóa khóa học này?</p>
            </div>
            <div class="modal-footer">
                <button id="btn--delete_courses" type="button" class="btn btn-danger">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form class="mt-4" method="POST" name="delete-course-form">

</form>

<script>
    let exampleModal = document.getElementById('exampleModal');
    let id;
    let deleteForm = document.forms['delete-course-form'];
    let buttonDeleteEl = document.getElementById("btn--delete_courses");
    let checkboxAll = document.getElementById('checkbox__all');
    let courseItemCheckbox = document.getElementsByName('courseIds[]');
    let checkallsubmit = document.getElementsByClassName('btn-checkallsubmit');


    exampleModal.addEventListener('show.bs.modal', function (event) {
        let button = event.relatedTarget;
        id = button.getAttribute('data-id');
    })


    buttonDeleteEl.addEventListener('click', deleted);
    function deleted() {
        deleteForm.action = '/courses/' + id + '?_method=DELETE';
        deleteForm.submit();
    }

    //-- check all click
    checkboxAll.addEventListener('change', function () {
        let isChecked = checkboxAll.checked;
        for (let i = 0; i < courseItemCheckbox.length; i += 1) {
            courseItemCheckbox[i].checked = isChecked;
        }
        renderCheckAllSubmitBtn();
    })

    //-- course item checkbox
    for (let i = 0; i < courseItemCheckbox.length; i += 1) {
        courseItemCheckbox[i].addEventListener('change', function () {
            let len = [].slice.call(document.querySelectorAll('[name="courseIds[]"]'))
                .filter(function (e) { return e.checked; }).length;
            let isCheckedAll = courseItemCheckbox.length === len; // boolean 
            checkboxAll.checked = isCheckedAll;
            renderCheckAllSubmitBtn();

        })
    }

    function renderCheckAllSubmitBtn() {
        let checkedCount = [].slice.call(document.querySelectorAll('[name="courseIds[]"]'))
            .filter(function (e) { return e.checked; }).length;
        for (let i = 0; i < checkallsubmit.length; i += 1) {
            if (checkedCount > 0) {
                checkallsubmit[i].classList.remove('disabled');
            }
            else {
                checkallsubmit[i].classList.add('disabled');
            }
        }
    }


</script>